#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: #4CAF50; /* Example background color */
    color: white; /* Contrast text color */
    border: 1px solid #D6A800;
    padding: 10px;
}

a {
    color: #4CAF50; /* Match with your background color */
    text-decoration: none;
}

a:hover {
    color: #D6A800; /* Hover effect color */
}

a:visited {
    color: #D6A800; /* Visited link color */
}
